[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
celery = "*"
gevent = "*"
gunicorn = "*"
flask-graphql = "*"
sqlalchemy = "*"
graphene = "*"
graphene-sqlalchemy = "*"
psycopg2-binary = "*"
flask-script = "*"
pandas = "*"
flask-bcrypt = "*"
flask-caching = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
mock = "*"
faker = "*"
flake8 = "*"
pylint = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
